---
title: Configure System -> Logon
description: Configure logon settings
privilege: TrustedInstaller
actions:
  
  # === Show first sign-in animation - Disabled
  - !registryValue: {path: 'HKLM\Software\Microsoft\Windows\CurrentVersion\Policies\System', value: 'EnableFirstLogonAnimation', type: REG_DWORD, data: '0'}
    
  # === Turn on Windows Startup sound - Enabled
  # Remove the key to allow Windows Startup sound
  - !powerShell: {command: 'Remove-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" -Name "DisableStartupSound" -ErrorAction SilentlyContinue | Out-Null', privilege: TrustedInstaller}

  # === Enable Windows Logon/Logoff sounds visibility in Sound settings
  - !registryValue: {path: 'HKCU\AppEvents\EventLabels\WindowsLogon', value: 'ExcludeFromCPL', type: REG_DWORD, data: '0'}
  - !registryValue: {path: 'HKCU\AppEvents\EventLabels\WindowsLogoff', value: 'ExcludeFromCPL', type: REG_DWORD, data: '0'}

  # === Remove DisableStartupSound key from BootAnimation (alternative path)
  - !powerShell: {command: 'Remove-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\LogonUI\BootAnimation" -Name "DisableStartupSound" -ErrorAction SilentlyContinue | Out-Null', privilege: TrustedInstaller}

  # === Remove DisableLogonSound key
  - !powerShell: {command: 'Remove-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" -Name "DisableLogonSound" -ErrorAction SilentlyContinue | Out-Null', privilege: TrustedInstaller}
  
  # =============================
  # === Windows Logon Options ===
  # =============================
  
  # === Sign-in and lock last interactive user automatically after a restart - Disabled
  # ------> Prevents apps from automatically reopening after a restart or an update.
  - !registryValue: {path: 'HKLM\Software\Microsoft\Windows\CurrentVersion\Policies\System', value: 'DisableAutomaticRestartSignOn', type: REG_DWORD, data: '1'}

  # === UAC disabled from unattend.xml
  - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System', value: 'EnableLUA', type: REG_DWORD, data: '0'}
