---
title: configure-power-control
description: configure-power-control
privilege: TrustedInstaller
actions:

  # === Disable Hibernate
  # ------> Disabling hibernate improves system stability, fixes dual-boot and upgrade issues, and frees up disk space
  # ------> NOTE: It can cause overheating in sleep mode.
  - !run:
    exe: "powercfg.exe"
    args: "/h off"
    wait: true
    option: disable-hibernate
  - !registryValue: {path: 'HKLM\SYSTEM\CurrentControlSet\Control\Session Manager\Power', value: 'HiberbootEnabled', type: REG_DWORD, data: '0', option: disable-hibernate}

  # === Enable Hibernate
  - !run:
    exe: "powercfg.exe"
    args: "/h on"
    wait: true
    option: enable-hibernate
  - !registryValue: {path: 'HKLM\SYSTEM\CurrentControlSet\Control\Session Manager\Power', value: 'HiberbootEnabled', type: REG_DWORD, data: '1', option: enable-hibernate}

  # === Shutdown Menu - Sleep - Enabled
  # ------> https://www.tenforums.com/tutorials/7445-add-remove-hibernate-power-menu-windows-10-a.html
  - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\FlyoutMenuSettings', value: 'ShowSleepOption', type: REG_DWORD, data: '1'}

  # === Allow system to be shut down without having to log on - Enabled
  # ------> https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/shutdown-allow-system-to-be-shut-down-without-having-to-log-on
  # ------> https://www.stigviewer.com/stig/windows_server_2012_member_server/2014-01-07/finding/V-1075
  - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System', value: 'ShutdownWithoutLogon', type: REG_DWORD, data: '1'}

  # === HibernateEnabled - 0 (from unattend.xml)
  - !registryValue: {path: 'HKLM\SYSTEM\CurrentControlSet\Control\Power', value: 'HibernateEnabled', type: REG_DWORD, data: '0'}

  # === ClearPageFileAtShutdown - 0 (from unattend.xml)
  - !registryValue: {path: 'HKLM\SYSTEM\CurrentControlSet\Control\Session Manager\Memory Management', value: 'ClearPageFileAtShutdown', type: REG_DWORD, data: '0'}
